@import url("reset.css");

/******** 字體顏色 ********/
h2{
    font-size:30px;
    color: #292421;
}

h3{
    font-size:20px;
    color: #433E3B;
}

h4{
    font-size:18px;
    color: #433E3B;
}

h5{
    font-size:16px;
    color: #433E3B;
}

p{
    font-size:14px;
    color: #433E3B;
}

.font_white{
    font-size: 12px;
    color: #FFFAFA;
}

@media (max-width:575.98px){
    h2{
        font-size: 26px;
    }

    h3{
        font-size:18px;
    }
}


/******** 按鈕 ********/
.btn1{
    font-size:14px;
    color: #292421;
    border: 1px solid #292421;
    padding: 5px 10px;
}

button{
    background-color: Transparent;
    border:none;
}

.button{
    color:#FFFAFA; ;
}

/******** icon ********/
.icon{
    width: 20px;
    margin: 0px auto;
    display: block;
}


/* ------------- body ------------- */
body{
    font-family: 'Noto Serif TC', serif, '微軟正黑體', 'Arial';
    background-color: #FFFAFA;
    position: relative;
    line-height: 1.6;
    box-sizing: border-box;
    list-style-type:none;
    text-decoration-style:none;
    text-decoration-line:none;
    text-decoration-color:none;

}

a{
    text-decoration:none;
}

/* ------------- breadcrumb ------------- */
.breadcrumbList{
    height: 35px;
    padding: 10px 100px;
    /* opacity: .9; */
    /* background-color: #EFEBEB; */
    margin: 0 auto;
}

.breadcrumb{
    display: flex;
    width: 500px;
    justify-content: left;
}

.breadcrumb li{
    flex-basis: 100px;
}

.breadcrumb a{
    /* padding-right: 10px; */
    color: #ADAAA5;
    font-size: 10px;
    letter-spacing: .2em;
    
}


.breadcrumb li+li::before {
    content: "/"; 
    color: #ADAAA5;
    padding-right: 20px; 
}

.breadcrumb > li:last-child > a:last-child{
    border-bottom: 1px solid #ADAAA5;
}

@media (max-width:575.98px){
    .breadcrumbList{
        padding: 10px 30px;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    } 

    .breadcrumb li {
        flex-basis: 90px;
    }

}

@media screen and (min-width: 576px) and (max-width: 767.9px){
    .breadcrumbList{
        padding: 10px 50px;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    } 

    .breadcrumb li {
        flex-basis: 90px;
    }

}


/* -------------主選單(上排固定) ------------- */
.nav_top{
    padding-top: 10px;
    padding-right: 14px;
}

.nav_top ul li img{
    padding-left: 30px;
    float: left;
    height: 30px;
}

/* .nav_top ul li img{
    margin:7px 0;
} */

.logo_white{
    margin: 0 auto;
    width: 100%;
    display: block;
}

.logo_black{
    margin: 0 auto;
    width: 100%;
    display: none;
}

.nav_top ul li .font_white{
    float: right;
    padding: 0 20px;
    text-align: right;
}

nav a{
    text-decoration: none; 
    opacity:0.9;
    color: #FFFAFA;
}

.nav_top{
    width: 100%;
    height: 50px;
    background-color: none;

    line-height: 50px;
    top:0;
    left:0;
    right: 0;
    margin: auto;
    position: fixed;
    z-index: 5;
}

@media (max-width:575.98px){
    #nav_top{
        display: none;
    }
}

/* ------------- 選單滾動色彩 ------------- */
/* .scroll {
    position: fixed;
    color: #292421;
} */
.scroll a {
    color: #292421;
}
.bg_color{
    background-color: #FFFAFA;
    border-bottom:1px solid #EFEBEB;
    /* background-image: url(/pic/nav_2.png); */
}

/* -------------手機版選單_上方固定 ------------- */
.mobile_nav{
    /* padding: 10px 5px; */
    width: 100%;
    height: 50px;
    background-color: #FFFAFA;
    border-bottom: .5px solid #EFEBEB;

    position: absolute;
    top: 0;
    left: 0;
    z-index:100;
    position: fixed;

    display: none;
}

.mobile_logo img{
    margin-top: 10px;
    display: block;
    height: 30px;
    padding-right: 52px;
}

.mobile_logo{
    /* padding-right: 75px; */
    display: flex;
    justify-content: center;
}

/* -------------手機版選單內容_上 ------------- */
.nav_main_title h5{
    letter-spacing: .4em;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* position: relative; */
}

.nav_main{
    /* height: 50%; */
    width: 100%;
    background-color: #EFEBEB;
    position: fixed;
    top:50px;
    left: 0;
    z-index: 101;

    display: none;
    padding: 0 20px 10px 20px;
    box-sizing: border-box;
}

/* -------------手機版選單內容_下 ------------- */
.nav_main_list li p{
    letter-spacing: .4em;
    /* margin-left: 73px; */
}

.nav_main_list li{
    margin-bottom: 13px;
    text-align: center;
}

.nav_main ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav_icon {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    

    position: relative;
}

.line{
    width: 100%;
    height: .5px;
    background-color: rgba(41, 36, 33, 50%);
}


.nav_icon a{
    font-size: 19px;
    margin: 0 auto;
    letter-spacing: 7px;
    color: #292421;
}

.mask_index{
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: .8;
    z-index: 99;
    width: 100%;
    height: 100%;
}

/* -------------漢堡 ------------- */
.hamburger{
    float: left;
} 


@media (max-width:575.98px){
    .mobile_nav{
        display: block;
    }

    /* .nav_main{
        display: block;
    } */
}

@media (min-width:575.98px){
    .nav_main{
        display: none !important ;
    }

    .mask_index{
        display: none !important ;
    }
}

/* ------------- 主選單(左側固定) ------------- */
.nav_left a{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: .6em;
    color:#292421;
    font-size: 12px;

    left: 30px;
    top: 50%;
    margin: auto;
    position: fixed;
    transform:translateY(-50%);

    z-index: 1;
}
/* ------------- 主選單(右側固定) ------------- */
.nav_right{
    display: inline-flex;
    flex-direction: column;
    z-index: 2;

    top: 50%;
    right: 30px;
    margin: auto;
    position: fixed;
    transform:translateY(-50%);
}

.nav_right i{
    font-size: 22px;
    margin: 0 auto;
    letter-spacing: 7px;
    color:#292421;
    float: right;
    margin-bottom: 17px;
}

/* .nav_right a:nth-child(4){
    padding-top: 130px;
} */

.nav_right_top{
    display: inline-flex;
    flex-direction: column;
    z-index: 3;

    top: 93%;
    right: 30px;
    margin: auto;
    position: fixed;
    transform:translateY(-50%);
}

.nav_right_top i{
    font-size: 22px;
    margin: 0 auto;
    letter-spacing: 7px;
    color:#292421;
    float: right;
    margin-bottom: 17px;
}


@media (max-width:767.98px){
    .nav_right{
        display: none;
    }

    .nav_left{
        display: none;
    }

    .nav_right_top{
        right: 1.5%;

    }
}

/* ------------- 首頁_區塊間距與顏色------------- */
.wrapper_1, .wrapper_2, .wrapper_3{
    padding: 100px;
    overflow: hidden;
}

.wrapper_2_bg, .wrapper_2, .wrapper_4, .wrapper_5 {
    background-color: #EFEBEB;
}

.wrapper_1 h2 , .wrapper_1 h3 , .icon , .wrapper_4 h2 {
    text-align:center;
    margin-bottom: 40px;
    letter-spacing: .4em;
}

@media (max-width:575.98px){
    .wrapper_1{
        padding: 50px 30px
    }

    .wrapper_2 img{
        margin: 0;
    }

    .wrapper_2 .text{
        margin:0;
    }
}

/* ------------- 首頁_大b壓字------------- */
.index_banner{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
} 

.index_banner img{
    width: 100%;
}

.index_banner_text{
    /* opacity: .9; */

    position: absolute;
    top: 6%;
    left: 47.5%;
    transform: translateX(-47.5%);

    animation: fade-in 4s ease 0s 1;
    
}

.index_banner_text img{
    width: 120%;
}

/* ------------- 首頁_大b壓字_動畫------------- */
@keyframes fade-in{  
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-webkit-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-ms-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-o-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-moz-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}


@media (max-width:575.98px){
    .max_banner{
        width: 100%;
        height: 550px;

        position: relative;
        overflow: hidden;
    }

    .max_banner img{
        width: 1100px;
        display: block;
        
        position: absolute;
        left:50%;
        margin: auto;
        transform:translateX(-50%);
    }

    .max_banner{
        top: 5%;
        left: 42%;
        transform: translateX(-42%);
    }

    .min_bn{
        margin-top: 30px;
        width: 100%;
        height: 350px;
        overflow: hidden;
    }
    .min_bn img{
        display: none;
    }
}

}

@media screen and (min-width: 768px) and (max-width: 991.8px){  
    .max_banner{
        width: 100%;
        height: 550px;

        position: relative;
        overflow: hidden;
    }

    .max_banner img{
        width: 1100px;
        display: block;
        
        position: absolute;
        left:49%;
        margin: auto;
        transform:translateX(-49%);
    }

    .index_banner_text{
        top: 5%;
        left: 42%;
        transform: translateX(-42%);
    }


}

@media screen and (min-width: 576px) and (max-width: 767.9px){
    .max_banner{
        width: 100%;
        height: 550px;

        position: relative;
        overflow: hidden;
    }

    .max_banner img{
        width: 1100px;
        display: block;
        
        position: absolute;
        left:47%;
        margin: auto;
        transform:translateX(-47%);
    }

    .index_banner_text{
        top: 5%;
        left: 42%;
        transform: translateX(-42%);
    }

    .min_bn{
        width: 100%;
        overflow: hidden;
    }

    .min_bn img{
        width: 1200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.8px){  
    .min_bn{
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .min_bn img{
        display: none;
    }
}


@media screen and (min-width: 992px) and (max-width: 1199.8px){
    .index_banner_text {
        top: 5%;
    }

    .min_bn{
        width: 100%;
        height: 380px;
        overflow: hidden;
    }

    .min_bn img{
        width: 1400px;
    }

}


/* ------------- 首頁_區塊一_簡介------------- */
.wrapper_1 .banner_circle{
    margin: 0px auto;
    padding-top: 30px;
    display: block;
    border-radius:50% 50% 0% 0%;
}

.wrapper_1 h3, .wrapper_4 h3 {
    line-height:2;
}

@media (max-width:575.98px){
    .wrapper_1 .banner_circle{
        width: 300px;
    }
    .wrapper_1{
        padding: 70px 30px;
    }

}

/* ------------- 首頁_區塊二(三)_豪華帳棚 ------------- */
.wrapper_2_bg, .wrapper_3_bg{
    width: 100%;
    /* background-color: #EFEBEB; */
}

.wrapper_3_bg{
    background-color: #FFFAFA;
}

.wrapper_2, .wrapper_3 {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;

    width: 1200px;
    margin: 0 auto;
}


.wrapper_2 .text{
    text-align:left;
    margin-left: 120px;
    margin-top: 50px;
}

.wrapper_2 h3, .wrapper_3 h3{
    display: inline-block;
    margin: 0 left;
    border-bottom: 3px solid #ADAAA5;
    margin-bottom: 30px;
}

.wrapper_2 p, .wrapper_3 p{
    margin-bottom: 70px;
    letter-spacing: .4em;

}

.wrapper_2_pic, .wrapper_3_pic{
    width: 450px;
    height: 387px;
}

.wrapper_2_pic img, .wrapper_3_pic img{
    width: 450px;
    height: 382px;
    margin: 0 auto;
    display: block;
}

.slick-prev::before {
   content:"〈" ;
   opacity: .5;
   color: #ADAAA5;
   display: none;
}

.slick-next:before{
    content:"〉" ;
    opacity: .5;
    color: #ADAAA5;
    display: none;
}

.slick-dots li button:before{
    color: #ADAAA5;
}

.slick-dots li.slick-active button:before {
    color: #433E3B;
}


    
/* ------------- 首頁_區塊二豪華帳棚RWD ------------- */
@media (max-width:575.98px){
    .wrapper_2 h3, .wrapper_3 h3{
        font-size: 20px;
    }

    .wrapper_2{
        width: 100%;
        padding: 70px 30px;
        flex-wrap:wrap;
       overflow: hidden;
        
    }

    .wrapper_2_pic{
        width: 100%;
    }

    .wrapper_2_pic img{
        height: 60%;
    }

    .wrapper_2 .text{
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }

    .wrapper_2 p{
        line-height: ;
        margin-bottom: 30px;
    }
    
    .slick-dots li.slick-active button:before {
        color: #FFFAFA;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #FFFAFA;
    }

    .slick-dots li button:before {
        color: #FFFAFA;
    }


    .slick-dots {
        bottom: 10px;
    }

}

@media screen and (min-width: 576px) and (max-width: 767.9px){
    .wrapper_2{
        width: 100%;
        padding: 70px 30px;
        flex-wrap:wrap;
        overflow: hidden;
        box-sizing: border-box;
    }

    .wrapper_2_pic{
        width: 100%;
        margin: 0 auto;
    }

    .wrapper_2 .text{
        flex-grow:1;
        width: 450px;
        margin: 0;
        padding: 0 15%;
    }

    .wrapper_2 p{
        margin-bottom: 30px;
    }

    .slick-dots li.slick-active button:before {
        color: #FFFAFA;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #FFFAFA;
    }

    .slick-dots li button:before {
        color: #FFFAFA;
    }


    .slick-dots {
        bottom: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991.8px){  
    .wrapper_2{
        width: 100%;
    }

    .wrapper_2 .text{
        margin-left:30px;
        margin-top: 0;
    }

    .wrapper_2 .text p{
        margin-bottom: 40px;
    }

    .wrapper_2_pic{
        width: 60%;
    }

    .wrapper_2_pic img{
        height: 30%;
    }

    
}

@media screen and (min-width: 992px) and (max-width: 1199.8px){
    .wrapper_2{
        width: 100%;
    }

    .wrapper_2 .text{
        margin-top: 30px;
        margin-left:50px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399.8px){ 
    .wrapper_2{
        width: 100%;
    }

    .wrapper_2 .text{
        margin-left:100px;
    }
}

@media screen and (min-width: 1400px){
    .wrapper_2{
        width: 100%;
    }
    .wrapper_2 .text{
        margin-left:100px;
    }
}

/*  ------------- 首頁_區塊三_木屋 ------------- */

.wrapper_3{
    background-color: #FFFAFA;
}

.wrapper_3 {
    margin-top: 50px;
}

.wrapper3_content{
    margin-top: 50px;
    /* width: 450px; */
    margin-right: 80px;
}

.wrapper_3 img{
    margin-right: 130px;
}

@media (max-width:575.98px){
    .wrapper_3{
        width: 100%;
        padding: 70px 30px; 
        flex-wrap:wrap;
        margin: 0%;
    }

    .wrapper_3_pic{
        order: -1;
        width: 100%;
    }

    .wrapper3_content{
        margin-right: 0;
        margin-top: 0;
    }

    .wrapper_3 p{
        margin-bottom: 30px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.9px){
    .wrapper_3{
        width: 100%;
        padding: 70px 30px;
        flex-wrap:wrap;
        overflow: hidden;
        box-sizing: border-box;
    }

    .wrapper_3_pic{
        width: 100%;
        order: -1;
        margin: 0 auto;
    }

    .wrapper_3 img{
        margin: 0;
        margin: 0 auto;
    }

    .wrapper3_content{
        flex-grow:1;
        width: 450px;
        margin: 0;
        padding: 0 15%;
    }

    .wrapper_3 p{
        margin-bottom: 30px;
    }

    .slick-dots li.slick-active button:before {
        color: #FFFAFA;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #FFFAFA;
    }

    .slick-dots li button:before {
        color: #FFFAFA;
    }


    .slick-dots {
        bottom: 10px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991.8px){  
    .wrapper_3{
        width: 100%;
    }

    .wrapper3_content{
        margin-right:30px;
        margin-top: 0;
    }

    .wrapper3_content p{
        margin-bottom: 40px;
    }

    .wrapper_3_pic{
        width: 60%;
    }

    .wrapper_3_pic img{
        height: 30%;
    }

    
}

@media screen and (min-width: 992px) and (max-width: 1199.8px){
    .wrapper_3{
        width: 100%;
    }

    .wrapper3_content{
        margin-top: 30px;
        margin-right:50px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399.8px){ 
    .wrapper_3{
        width: 100%;
    }

    .wrapper3_content{
        margin-right:100px;
    }
}

@media screen and (min-width: 1400px){
    .wrapper_3{
        width: 100%;
    }
    .wrapper3_content {
        margin-right:100px;
    }
}

/* ------------- 首頁_區塊四_圖 ------------- */
.wrapper_4{
    margin: 0 auto;
    padding: 80px 80px 0 80px;
}

.wrapper_4 h3 {
    text-align:center;
    letter-spacing: .4em;
}

.wrapper_4 h2, .icon{
    text-align: center;
    margin-bottom: 30px;

}

.wrapper_5{
    width: 100%;
    overflow: hidden;
    padding: 50px 0 100px 0;
}

@media (max-width:575.98px){
    .wrapper_4, .wrapper_5{
        width: 100%;
        padding: 70px 30px; 
       overflow: hidden;
       box-sizing: border-box;
    }

    .wrapper_4{
        padding-bottom: 30px;
    }

    .wrapper_5{
        padding: 0;
        padding-bottom: 50px;
    }
}

/* ------------- 首頁_區塊四_圖_動畫 ------------- */
    @-webkit-keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-300px * 10));
    transform: translateX(calc(-300px * 10));
    }
    }
    @keyframes scroll {
    0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    }
    100% {
    -webkit-transform: translateX(calc(-300px * 10));
    transform: translateX(cac(-300px * 10));
    }
    }
    .slider_2 {
    background: pr;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    }
    .slider_2::before, .slider_2::after {
    background: linear-gradient(to right,#EFEBEB 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 300px;
    position: absolute;
    width: 200px;
    z-index: 2;
    }
    .slider_2::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
    }
    .slider_2::before {
    left: 0;
    top: 0;
    }
    .slider_2 .slide-track {
    -webkit-animation: scroll 50s linear infinite;
    animation: scroll 50s linear infinite;
    display: flex;
    width: calc(250px * 14);
    }
    .slider_2 .slide_infinite {
    height: 300px;
    width: 300px;
    margin-right: 10px;
    }
.slider_2 .slide-track .auto img{
    width: 300px;
    height: 300px;
    margin-right: 10px;
}

@media (max-width:575.98px){
    .slider_2 .slide-track .auto img{
        width: 250px;
        height: 250px;
    }

    .slider_2::before, .slider_2::after {
        background: none;
        }
}

/* ------------- 內容間距 ------------- */
.products_1, .products_2,  .products_3, .experience,.camping_1, .camping_2, .camping_3,  .about , .campmap, .camp_facillties{
    padding: 50px 100px 100px 100px
}

.products_1 h2, .products_1 p,.products_1 h4,  .products_2 h2,  .products_2 p, .products_2 h4, .products_3 h2,  .products_3 p,.products_3 h4, .camping_1 h2, .camping_1 p ,.camping_2 h2, .camping_2 p,.experience h4,.camping_3 h2, .camping_3 p, .news_title, .about h2, .about p , .campmap h2, .camp_facillties h2{
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: .4em;
}

.products_1 p, .products_1 h4, .products_2 p, .products_2 h4, .products_3 p,.products_3 h4, .experience p, .experience h4, .about p, .camp_facillties h2, .campmap h2 {
    margin-bottom: 50px;
}


.experience h2, .experience p,  .experience h{
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: .4em;
    display: block;
}


.products_2, .camping_2, .camp_facillties{
    background-color: #EFEBEB;
}


@media (max-width:575.98px){
    .products_1, .products_2,  .products_3, .experience,.camping_1, .camping_2, .camping_3,  .about , .campmap, .camp_facillties{
        padding: 50px 30px
    }
}

@media screen and (min-width: 576px) and (max-width: 767.9px){
    .products_1, .products_2,  .products_3, .experience,.camping_1, .camping_2, .camping_3,  .about , .campmap, .camp_facillties{
        padding: 50px 50px
    }
}

/* ------------- 產品總覽_區塊一(體驗_大小標) ------------- */
.products_1 ul,  .products_2 ul,  .products_3 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap:wrap; */

}

.products_1 img,  .products_2 img,  .products_3 img{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media (max-width:575.98px){
    .products_1 ul,  .products_2 ul,  .products_3 ul{
        flex-wrap:wrap;
    }
    
    .products_1 p, .products_2 p, .products_3 p{
        font-size: 18px;
    }

    .products_bn{
        background-image: url(../pic/products/banner02_cut.png);
        background-position: 38% 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.8px){  
    .products_bn{
    background-image: url(../pic/products/banner02_cut.png);
    background-position: 38% 100%;
}
}


/* ------------- 特色體驗_圖片排版 ------------- */
.experience{
    /* width: 1000px; */
    margin: 0 auto;
    box-sizing: border-box;
}

.experience ul{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    /* justify-content: space-between; */
}

.experience li{
    display: block;
    overflow: hidden;
    margin:  0 15px;

    position: relative;
}

.experience li>p{
    margin-bottom: 80px;
}

.experience p{
    margin-bottom: 50px;
}

@media (max-width:575.98px){
    .experience {
        width: 100%;
        flex-wrap:wrap;
    }
    
    .experience p{
        font-size: 18px;
    }

    .experience_bn{
        background-image: url(../pic/experience/banner03_cut.png);
        background-position: center;
        background-size: cover;
    }
}



@media screen and (min-width: 768px) and (max-width: 991.8px){
    .experience_bn{
        background-image: url(../pic/experience/banner03_cut.png);
        background-position: center;
        background-size: cover;
    }
}


/* ------------- 小標籤(圖片) ------------- */
.tab {
    background-image: url(../pic/tab.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 50px;

    position: absolute;
    left: 230px;
    top: 0px;
}
.tab p{
    font-size: 5px;
    line-height: 1;
    text-align: center;
    padding: 5px 0;
}

/* ------------- foooter ------------- */
footer{
    padding: 60px 100px;
    /* background-color: #191F45; */
    /* background-image: url(../pic/footer_bg.jpg); */
    background-color: #191F45;
    background-position: center;
    letter-spacing: .1em;
    text-align: 1.6;

    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
}

.footer a, .footer p{
    font-size: 12px;
    color: #FFFAFA;
}

.footer_left, .footer_center, .footer_right{
    width: 230px;
    flex-grow: 1;
    margin-bottom: 40px;
}

.footer_left, .footer_center{
    width: 150px;
    height: 150px;
}

iframe{
    margin: 0 auto;
    width: 45%;
    height: 150px;
    flex-grow: 1;
    margin-left: 10px;
    margin-bottom: 40px;
    margin: 0 auto;
}

.footer_bottom{
    width: 1400px;
    height: 10px;
    flex-grow: 1;
    padding-top: 20px;
}

.footer_bottom p{
    text-align: center;
}



@media screen and (min-width: 576px) and (max-width: 767.9px){
    footer{
        padding: 60px 50px;
    }

    .footer_left, .footer_center, .footer_right.footer_right{
        width: 90px;
        margin-bottom: 50px;
    }
    .footer_right{
        flex-grow: 2;
        flex-basis: 180px;
    }
}


@media (max-width:575.98px){
    footer{
        padding: 60px 30px;
    }

    .footer_left, .footer_center, .footer_right.footer_right{
        width: 60px;
        margin-bottom: 50px;

    }

    .footer_left, .footer_center{
        width: 50%;
    }

    .footer_right{
        flex-basis: 100%;
        order:-1;

        position: relative;
    }

    .footer_right::before{
        content: "";
        position: absolute;
        top:160px;

        border-bottom:1px solid #FFFAFA;
        width: 95%;
    }

    frame{
        width: 100%;
    }
}


/* ------------- 底線hover  ------------- */
ul li .font_white:hover, footer a:hover{
    border-bottom: 1px solid #FFFAFA;
    opacity:1;
}

/* ------------- 透明度hover  ------------- */
.nav_top ul li a .font_white:hover, .nav_left a:hover , .nav_right i:hover , .wrapper_2 a:hover, .wrapper_3 a:hover, .facillties_box_text .btn1:hover , a:hover{
    opacity:.4;
}


/* ------------- 產品總覽hover  ------------- */
.products_1 li:hover, .products_2 li:hover,.products_3 li:hover, .experience li:hover{
    opacity: .7;
}

/* ------------- button hover  ------------- */ button:hover, .arrow:hover{
    transform: scale(1.2);
}

/* ------------- news_text hover  ------------ */
.news_title  li:hover{
    opacity: .7;
    letter-spacing: .9em;
    border-bottom: 1px solid #ADAAA5;
}

/* ------------- news_box hover  ------------ */
.news_box:hover{
    -webkit-filter:brightness(.8);
}

/* ------------- breadcrumb hover  ------------ */
.breadcrumb a:hover{
    color: #292421;
    opacity: .8;
    border-bottom: 1px solid #292421 ;
}
